﻿* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 70px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

.main-content > nav {
    width: 300px;
}

.main-content > nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-content > nav > ul > li {
    height: 50px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.main-content > nav > ul > li:hover {
    background-color: #808080;
    color: white;
}

.main-content > main {
    flex-grow: 1;
    margin: 20px;
}
