﻿<ul>
    <li class="border-bottom">
        <a><i class="mr-2 fa fa-users"></i>Clients</a>
    </li>
    <li class="border-bottom">
        <a><i class="mr-2 fa fa-tags"></i>Produits</a>
    </li>
    <li class="border-bottom">
        <a><i class="mr-2 fa fa-list"></i>Commandes</a>
    </li>
</ul>